form{
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    gap: 20px;
    background-color: rgba(229, 220, 203, 0.662);
    border-radius: 10px;
}
#signup{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 100vh;
   
}

#fields{
    
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 20px;
    justify-content: center;
    gap: 20px;
}
#outlined-basic{
    max-width: 200px;

}
#signupbutton{
    background-color:#242424;
}
